
.transaktionItem {
  background-color: #232450;
  border-radius: 3px;
  margin: 2% 3%;
  display: flex;
  color: #fff;
  @media(min-width:1440px){
    margin: 4% 10% 0% 15%;
  }

  .circleContainer {
    .circle {
      width: 5.5vh;
      height: 5.5vh;
      border-radius: 50%;
      margin: 18%;
    }
  }
  ul {
    padding: 2% 0 0 5%;
    flex-basis: 70%;
    @media(min-width:1440px){
      
    }
    .date {
      color: #ffffff70;
    }
  }
  .valueContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    .value {
      padding-bottom: 20%;
      color: rgba(255, 217, 0, 0.623);
      padding-right: 25%;
      @media(min-width:1440px){
        font-size: 1.5em;
      }
    }
  }
}
.transaktionContainer {
  padding-bottom: 24%;
  
  .transaktionHeader {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .transaktionTitle {
      padding:25% 0 0 0;
      font-size: 1em;
      margin-left: 3%;
      font-weight: 400;
      @media(min-width:1440px){
        font-size: 2em;
        margin-left: 15%;
      }

    }
    p {
      margin-right: 4%;
      color: #ffffff70;
      font-size: 0.8em;
      @media(min-width:1440px){
        font-size: 1.5em;
        margin-right: 10%;
      }
    }
  }
}
.button {
  text-align: center;
  background-color: #2b2d5b;
  color: white;
  box-shadow: 0 0.1em 0.2em rgba(8, 8, 8, 0.911);
  font-size: 1em;
  margin: 7% 5% 0% 5%;
  padding: 5% 5%;
  border-radius: 3px;
  @media(min-width:1440px){
    padding: 2% 0%;
    margin: 7% 10% 0% 15%;
  }
}
.description{
  @media(min-width:1440px){
    font-size: 1.5em;
  }
}
.date{
  @media(min-width:1440px){
    font-size:1em;
  }
}